---
import '../styles/pico.scss'

import IdeaGen from '../components/IdeaGen.vue'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style lang="scss" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Photo Idea Generator</title>
	</head>
	<body>
		<main class="container">
			<header>
				<hgroup>
					<h1>Photo Idea Generator</h1>
				</hgroup>
				<IdeaGen client:only="vue" />
			</header>
		</main>
	</body>
</html>
