---
import '../styles/pico.scss'

import IdeaGen from '../components/IdeaGen.vue'

const today = new Date();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/djmetzle-light.png" />
		<style lang="scss" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content="Photo Idea Generator" />
		<title>Photo Idea Generator</title>
	</head>
	<body>
		<header class="container">
			<hgroup>
				<h1>📸 Photo Idea Generator</h1>
			</hgroup>
			<hr/>
		</header>

		<main class="container">
			<IdeaGen client:only="vue" />
		</main>

		<footer class="container">
			<p>&copy; {today.getFullYear()} <a href="https://www.djmetzle.io">djmetzle</a> All rights reserved.</p>
		</footer>
	</body>
</html>
