name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: deploy

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install
        run: pnpm ci

      - name: Build
        run: pnpm run build

      - name: AWS login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-1
          role-to-assume: arn:aws:iam::177613294657:role/ideagenDeployRole
  
      - name: Update site
        run: aws --region us-west-1 s3 sync --delete ./dist s3://djmetzle-photo-ideagen/

      - name: Invalidate Cloudfront
        run: aws cloudfront create-invalidation --distribution-id E1N667M2O9N9NW --paths "/*"
